{% extends 'budget/base.html' %}
{% block content %}

<div class="container">

    <section class="section section-stats">
        <div class="row">

            <div class="col s12 m4 8">
                <div class="card-panel">
                    <h6><strong>Total Budget</strong></h6>
                    <h3>Rs {{ budget.budget}} </h3>
                </div>
            </div>

            <div class="col s12 m4 8">
                <div class="card-panel">
                    <h6><strong>Remaining budget</strong></h6>
                    {% if budget.budget_left > 0 %}
                    <h3 class='green-text'>Rs {{ budget.budget_left }}</h3>
                    {% else %}
                    <h3 class='red-text'>Rs {{ budget.budget_left }}</h3>
                    {% endif %}
                </div>
            </div>

            {% for user in users_list %}

            <div class="col s12 m4 8">
                <div class="card-panel">
                    <h6><strong>{{ user.name }} remaining bal</strong></h6>
                    
                    <h3>Rs {{ user.user_total }}</h3>
                </div>
            </div>

            {% endfor %}

        </div>
    </section>

    <section class="section section-expenses">
        <div class='row'>
            <button class="btn waves-effect right modal-trigger" href="#expenseModal">
                <i class="material-icons white-text left">add_circle</i>
                Add expense</button>
        </div>

        <ul class="z-depth-1">

            {% for expense in expense_list %}

            <li>
                <div class="card-panel z-depth-0 expense">
                    <div class="row">
                        <div class="col l4">
                            <span class="title">{{ expense.date }}</span>
                        </div>

                        <div class="col l3">
                            <span class="title">{{ expense.description }}</span>
                        </div>

                        <div class="col l2">
                            <span class="title">Rs {{ expense.amount }}</span>
                        </div>

                        <div class="col l1">
                            <span class="title">{{ expense.user }}</span>
                        </div>

                        <a onclick="deleteExpense(this)" data-id="{{ expense.id }}">
                            <i class="material-icons red-text right">close</i>
                        </a>
                    </div>
                </div>
            </li>

            {% endfor %}

        </ul>
    </section>

    </div> 

</div>

<div id="expenseModal" class="modal">

    <div class="model-content">
        <h4>Add Expense</h4>

        <form method="POST">
            
            {% csrf_token %}
            
            <label for="date">Date</label>
            <input name="date" id="date">

            <label for="description">Description</label>
            <input name="description" id="description">

            <label for="amount">Amount</label>
            <input name="amount" id="amount">

            <select name="category">
                {% for category in category_list %}
                    <option>{{ category.name }}</option>
                {% endfor %}
            </select>

            <select name="user">
                {% for user in users_list %}
                    <option>{{ user.name }}</option>
                {% endfor %}
            </select>

            <button type="submit" class="btn">Add</button>

        </form>
    </div>
</div>

<script>
    var elems = document.querySelectorAll('.modal')
    var instances = M.Modal.init(elems)

    var elems = document.querySelectorAll('select')
    var instances = M.FormSelect.init(elems)
    

    function deleteExpense(e){

        let id = e.dataset.id
        e.closest('li').remove()

        fetch('', {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'id': id
            }),
            credentials: 'same-origin',
        })
        window.location.reload();
    }
</script> 


{% endblock %}